@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body,
input,
textarea {
	font: 1rem Lato, sans-serif;
	
}

.wrapper {
	width:100%;
	height: 100%; 
	display:table;
	position:absolute;
	overflow: hidden;
	margin: 0 auto;
	padding:0;
}

.content {
	margin: 0 auto;
	width: 400px; 
	height: 650px;
	background: #2ecc71; 

}

label,
input,
textarea {
	display: block;
}

input,
textarea {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

label input, 
label textarea {
	margin-top:10px;
	font-size: 20px;
	font-weight: 300;
}
label {
	margin-bottom:20px;
	color: white;
}

input[type="submit"],
button {
	width:auto;
	 background-color: #D05F5F;
    -moz-border-radius: 3px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
}

.muted {
	color:#B10FD3;
}

.contact {
	width: 100%;
	max-width:500px;
	border-top:1px solid #eee;
	border-bottom: 1px solid #eeee;
	padding: 20px 20px;
	box-sizing:border-box; 
}

.panel {
	border: 1px solid #ddd;
	background:#f0f0f0;
	margin-bottom: 20px; 
	padding:20px;
	font-size: 20px;
	font-weight: 100;
	color: #333399;
	text-transform: uppercase;
	text-align: center; 
}


